.product {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0 30px;
  border-top: 1px solid var(--grey-lighter);
  padding: 5px 0;

  &__title {
    font-size: 14px;
  }

  &__serialNumber {
    color: var(--grey-light);
    font-size: 12px;
  }

  &__item {
    &--active {
      flex: 0 0 10px;
    }
  
    &--image {
      flex: 0 0 50px;
      img {
        width: 100%;
      }
    }
  
    &--description {
      flex: auto;
    }
  
    &--status {
      flex: 0 0 200px;
    }
  
    &--remove {
      flex: 0 0 30px;
    }
  }
}
