.sidebar {
  padding: 20px 15px;
  width: 200px;

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav__link {
    color: var(--grey-dark);
    border-bottom: 2px solid var(--transparent);
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .3s, border .3s;

    &:hover {
      color: var(--green);
    }

    &.active {
      color: var(--green);
      border-bottom: 2px solid var(--green);
    }
  }
}